<div *ngIf="menu" id="menu">
  <mat-card class="carta">
    <h2>Bienvenido a MiniTwitter</h2>
    <img src="../assets/img/logo.png">
    <app-login></app-login>
    <span class="espaciado"></span>

    <!-- <button mat-raised-button [routerLink]="['login']" onclick="ocultar" id="login">Iniciar sesión</button> -->
    <p class="text">En el caso de que no tengas cuenta</p>
    <button mat-raised-button [routerLink]="['registro']" onclick="ocultar" id="registro">Resgístrate</button>
  </mat-card>
</div>
<router-outlet></router-outlet>

