#login{
  border-radius: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20pt;
  background-color: rgb(182, 191, 218);
}

#login:hover{
  background-color:rgb(88, 164, 211);
}

#comprobar{
  border-radius: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20pt;
  margin-bottom: 20px;
  background-color: rgb(182, 191, 218);
}

#comprobar:hover{
  background-color:rgb(88, 164, 211);
}
