<div>
  <button onClick="window.location.reload()">Actualizar</button>
  <a type="button" [routerLink]="['../new']" >Nuevo tweet</a>
  <button (click)="exit()">Cerrar sesión</button>
</div>
<h1>Listado de tweets</h1>
<div>
  <div *ngFor="let elemento of listado">
    <p>Autor: {{ elemento.user.username }}</p>
    <p>{{ elemento.mensaje }}</p>
    <br />
    <div>
      <p>Likes: {{ elemento.likes.length }}</p>
      <div *ngIf="elemento.likes.length > 0">
        <div *ngFor="let like of elemento.likes">
          <p>{{ like.username }}</p>
        </div>
      </div>
    </div>
    <button (click)="fav(elemento.id)">like</button>
    <p>***********</p>
  </div>
</div>
